<a href="https://colab.research.google.com/github/wlslkim/wlslkim.github.io/blob/main/%EA%B5%90%ED%86%B5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

교통량 데이터 불러오기

In [4]:
traffic = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data/01월 서울시 교통량 조사자료(2023).xlsx")

In [5]:
traffic.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20230101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,...,1388.0,1370.0,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0
1,20230102,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,...,1459.0,1571.0,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0
2,20230103,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,...,1663.0,1678.0,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0
3,20230104,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,...,1679.0,1798.0,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0
4,20230105,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,...,1530.0,1627.0,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0

In [6]:
traffic.columns

Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object')

In [7]:
traffic.shape

(8618, 30)

In [8]:
traffic.isnull()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8614,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8615,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8616,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8617,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
traffic.isnull().sum()

일자         0
요일         0
지점명        0
지점번호       0
방향         0
구분         0
0시      2005
1시      2006
2시      2010
3시      2025
4시      2027
5시      2028
6시      2025
7시      2024
8시      2022
9시      2018
10시     2013
11시     2006
12시     2007
13시     2006
14시     2001
15시     2001
16시     2001
17시     1995
18시     1992
19시     1992
20시     1992
21시     1990
22시     1991
23시     1993
dtype: int64

통행속도 데이터 불러오기

In [10]:
velo = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data/2023년 1월 서울시 차량통행속도.xlsx")

In [11]:
velo.head()

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20230101,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,20230101,일,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2.0,보조간선도로,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,20230101,일,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,20230101,일,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1.0,보조간선도로,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,20230101,일,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90

In [12]:
velo.shape

(156814, 36)

In [13]:
velo.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object')

In [14]:
traffic.columns

Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object')

In [15]:
mat = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data/velvol_matchingTable_forAll_2022.xlsx")
mat

     idx  지점번호          지점명  방향 속도방향     시점명     종점명       링크아이디
0      1  A-01    성산로(금화터널)  유입   상행  봉원고가차도    독립문역  1120006400
1      1  A-01    성산로(금화터널)  유출   하행    독립문역  봉원고가차도  1120006300
2      1  A-02    사직로(사직터널)  유입   상행    독립문역     사직단  1000008000
3      1  A-02    사직로(사직터널)  유출   하행     사직단    독립문역  1000007900
4      1  A-03  자하문로(자하문터널)  유입  NaN     석파정  청운초등학교  1000019500
..   ...   ...          ...  ..  ...     ...     ...         ...
271    1  F-07        분당수서로  유출   하행    탄천1교    수서IC  1220018800
272    1  F-08        강남순환로  유입   상행   금천요금소    관악IC  1179910020
273    1  F-08        강남순환로  유출   하행    관악IC   금천요금소  1179920100
274    1  F-09     서부간선지하도로  유입   상행     신정교     목동교  1140284594
275    0  F-09     서부간선지하도로  유출   하행     목동교     신정교  1140284492

[276 rows x 8 columns]

In [16]:
mat.columns

Index(['idx', '지점번호', '지점명', '방향', '속도방향', '시점명', '종점명', '링크아이디'], dtype='object')

In [17]:
traffic.drop(['지점명', '지점번호', '방향'], axis=1)

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1388.0,1370.0,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1459.0,1571.0,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1663.0,1678.0,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1679.0,1798.0,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1530.0,1627.0,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,20230127,금,서울교->신월IC,503.0,361.0,208.0,140.0,143.0,244.0,608.0,...,1638.0,2131.0,2094.0,2022.0,2001.0,2049.0,2086.0,1737.0,1460.0,1129.0
8614,20230128,토,서울교->신월IC,630.0,433.0,287.0,217.0,185.0,240.0,442.0,...,1762.0,1845.0,1647.0,1801.0,2009.0,1736.0,1557.0,1455.0,1383.0,786.0
8615,20230129,일,서울교->신월IC,556.0,392.0,254.0,171.0,165.0,154.0,198.0,...,1515.0,1690.0,1732.0,1706.0,1561.0,1261.0,1366.0,1206.0,901.0,516.0
8616,20230130,월,서울교->신월IC,317.0,235.0,116.0,97.0,125.0,266.0,675.0,...,1508.0,1913.0,2156.0,2052.0,2059.0,2075.0,1928.0,1467.0,1313.0,823.0
8617,20230131,화,서울교->신월IC,534.0,316.0,230.0,137.0,137.0,248.0,591.0,...,1567.0,1862.0,1989.0,2028.0,2050.0,2103.0,2037.0,1564.0,1433.0,971.0

In [18]:
traffic_del = traffic.drop(['지점명', '지점번호', '방향'], axis=1)

In [19]:
traffic_del # 필요없는 열 제거한 것

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1388.0,1370.0,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1459.0,1571.0,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1663.0,1678.0,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1679.0,1798.0,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1530.0,1627.0,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,20230127,금,서울교->신월IC,503.0,361.0,208.0,140.0,143.0,244.0,608.0,...,1638.0,2131.0,2094.0,2022.0,2001.0,2049.0,2086.0,1737.0,1460.0,1129.0
8614,20230128,토,서울교->신월IC,630.0,433.0,287.0,217.0,185.0,240.0,442.0,...,1762.0,1845.0,1647.0,1801.0,2009.0,1736.0,1557.0,1455.0,1383.0,786.0
8615,20230129,일,서울교->신월IC,556.0,392.0,254.0,171.0,165.0,154.0,198.0,...,1515.0,1690.0,1732.0,1706.0,1561.0,1261.0,1366.0,1206.0,901.0,516.0
8616,20230130,월,서울교->신월IC,317.0,235.0,116.0,97.0,125.0,266.0,675.0,...,1508.0,1913.0,2156.0,2052.0,2059.0,2075.0,1928.0,1467.0,1313.0,823.0
8617,20230131,화,서울교->신월IC,534.0,316.0,230.0,137.0,137.0,248.0,591.0,...,1567.0,1862.0,1989.0,2028.0,2050.0,2103.0,2037.0,1564.0,1433.0,971.0

In [20]:
velo.drop(['도로명','방향','거리','차선수','기능유형구분','도심/외곽구분','권역구분'], axis=1)

,일자,요일,링크아이디,시점명,종점명,01시,02시,03시,04시,05시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20230101,일,1080012200,아카데미하우스,국립4.19묘지,46.10,28.92,51.22,57.67,44.61,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,20230101,일,1080012800,국립4.19묘지,국립4.19묘지입구,23.68,14.22,14.33,15.25,12.53,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,20230101,일,1080012700,국립4.19묘지입구,국립4.19묘지,17.77,23.49,21.85,23.44,27.93,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,20230101,일,1080012100,국립4.19묘지,아카데미하우스,49.49,41.76,45.79,67.52,88.91,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,20230101,일,1230024700,방이초교,방이동고분군,20.66,22.86,21.96,23.10,28.08,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156809,20230131,화,1190003703,중앙대학교,성심의집,23.61,25.69,26.63,27.83,26.62,...,15.92,16.73,15.96,14.20,15.39,16.75,17.13,17.50,17.13,19.28
156810,20230131,화,1190003702,성심의집,이화빌라,20.25,18.82,20.46,23.86,24.35,...,15.51,14.13,15.25,18.49,16.37,17.16,20.02,16.32,15.94,19.19
156811,20230131,화,1190003701,이화빌라,이화약국,18.59,21.19,23.30,26.64,24.57,...,18.69,15.13,13.77,17.80,16.03,16.01,19.75,16.22,15.33,18.39
156812,20230131,화,1130016400,망원정사거리,한강공원입구,25.85,27.35,29.22,27.59,28.60,...,20.85,20.07,21.72,14.40,24.01,21.76,20.68,20.04,20.16,21.61
156813,20230131,화,1130016300,한강공원입구,망원정사거리,24.84,17.22,17.54,19.97,22.83,...,16.74,18.17,23.40,13.23,19.57,18.78,17.87,28.28,16.25,18.46

In [21]:
velo_del = velo.drop(['도로명','방향','거리','차선수','기능유형구분','도심/외곽구분','권역구분'], axis=1)
velo_del

,일자,요일,링크아이디,시점명,종점명,01시,02시,03시,04시,05시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20230101,일,1080012200,아카데미하우스,국립4.19묘지,46.10,28.92,51.22,57.67,44.61,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,20230101,일,1080012800,국립4.19묘지,국립4.19묘지입구,23.68,14.22,14.33,15.25,12.53,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,20230101,일,1080012700,국립4.19묘지입구,국립4.19묘지,17.77,23.49,21.85,23.44,27.93,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,20230101,일,1080012100,국립4.19묘지,아카데미하우스,49.49,41.76,45.79,67.52,88.91,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,20230101,일,1230024700,방이초교,방이동고분군,20.66,22.86,21.96,23.10,28.08,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156809,20230131,화,1190003703,중앙대학교,성심의집,23.61,25.69,26.63,27.83,26.62,...,15.92,16.73,15.96,14.20,15.39,16.75,17.13,17.50,17.13,19.28
156810,20230131,화,1190003702,성심의집,이화빌라,20.25,18.82,20.46,23.86,24.35,...,15.51,14.13,15.25,18.49,16.37,17.16,20.02,16.32,15.94,19.19
156811,20230131,화,1190003701,이화빌라,이화약국,18.59,21.19,23.30,26.64,24.57,...,18.69,15.13,13.77,17.80,16.03,16.01,19.75,16.22,15.33,18.39
156812,20230131,화,1130016400,망원정사거리,한강공원입구,25.85,27.35,29.22,27.59,28.60,...,20.85,20.07,21.72,14.40,24.01,21.76,20.68,20.04,20.16,21.61
156813,20230131,화,1130016300,한강공원입구,망원정사거리,24.84,17.22,17.54,19.97,22.83,...,16.74,18.17,23.40,13.23,19.57,18.78,17.87,28.28,16.25,18.46

In [22]:
mat.drop(['idx', '지점번호', '지점명', '방향', '속도방향'], axis=1)

        시점명     종점명       링크아이디
0    봉원고가차도    독립문역  1120006400
1      독립문역  봉원고가차도  1120006300
2      독립문역     사직단  1000008000
3       사직단    독립문역  1000007900
4       석파정  청운초등학교  1000019500
..      ...     ...         ...
271    탄천1교    수서IC  1220018800
272   금천요금소    관악IC  1179910020
273    관악IC   금천요금소  1179920100
274     신정교     목동교  1140284594
275     목동교     신정교  1140284492

[276 rows x 3 columns]

In [23]:
mat_del = mat.drop(['idx', '지점번호', '지점명', '방향', '속도방향'], axis=1)
mat_del

        시점명     종점명       링크아이디
0    봉원고가차도    독립문역  1120006400
1      독립문역  봉원고가차도  1120006300
2      독립문역     사직단  1000008000
3       사직단    독립문역  1000007900
4       석파정  청운초등학교  1000019500
..      ...     ...         ...
271    탄천1교    수서IC  1220018800
272   금천요금소    관악IC  1179910020
273    관악IC   금천요금소  1179920100
274     신정교     목동교  1140284594
275     목동교     신정교  1140284492

[276 rows x 3 columns]

구분을 시점명과 종점명으로 나누기

In [24]:
assort = "봉원고가차도->독립문역"
assort

'봉원고가차도->독립문역'

In [25]:
def parse_start(assort) :
  start = assort.split("->")[0]
  return str(start)

y = parse_start(assort)
print(type(y))
y

<class 'str'>

'봉원고가차도'

In [26]:
def parse_fin(assort) :
  fin = assort.split("->")[-1]
  return str(fin)

parse_fin(assort)

'독립문역'

In [27]:
traffic_del["시점명"] = traffic_del["구분"].apply(parse_start)
traffic_del.head()

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,시점명
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1370.0,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0,봉원고가차도
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1571.0,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0,봉원고가차도
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1678.0,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0,봉원고가차도
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1798.0,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0,봉원고가차도
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1627.0,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0,봉원고가차도

In [28]:
traffic_del

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,시점명
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1370.0,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0,봉원고가차도
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1571.0,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0,봉원고가차도
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1678.0,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0,봉원고가차도
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1798.0,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0,봉원고가차도
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1627.0,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0,봉원고가차도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,20230127,금,서울교->신월IC,503.0,361.0,208.0,140.0,143.0,244.0,608.0,...,2131.0,2094.0,2022.0,2001.0,2049.0,2086.0,1737.0,1460.0,1129.0,서울교
8614,20230128,토,서울교->신월IC,630.0,433.0,287.0,217.0,185.0,240.0,442.0,...,1845.0,1647.0,1801.0,2009.0,1736.0,1557.0,1455.0,1383.0,786.0,서울교
8615,20230129,일,서울교->신월IC,556.0,392.0,254.0,171.0,165.0,154.0,198.0,...,1690.0,1732.0,1706.0,1561.0,1261.0,1366.0,1206.0,901.0,516.0,서울교
8616,20230130,월,서울교->신월IC,317.0,235.0,116.0,97.0,125.0,266.0,675.0,...,1913.0,2156.0,2052.0,2059.0,2075.0,1928.0,1467.0,1313.0,823.0,서울교
8617,20230131,화,서울교->신월IC,534.0,316.0,230.0,137.0,137.0,248.0,591.0,...,1862.0,1989.0,2028.0,2050.0,2103.0,2037.0,1564.0,1433.0,971.0,서울교

In [29]:
traffic_del["종점명"] = traffic_del["구분"].apply(parse_fin)
traffic_del.head()

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,16시,17시,18시,19시,20시,21시,22시,23시,시점명,종점명
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1322.0,1263.0,979.0,875.0,785.0,824.0,552.0,421.0,봉원고가차도,독립문역
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1566.0,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0,봉원고가차도,독립문역
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1711.0,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0,봉원고가차도,독립문역
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1719.0,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0,봉원고가차도,독립문역
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1805.0,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0,봉원고가차도,독립문역

In [30]:
pd.merge(left=traffic_del,right=mat_del,how='left',\
         on = ['시점명', '종점명'])

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,17시,18시,19시,20시,21시,22시,23시,시점명,종점명,링크아이디
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1263.0,979.0,875.0,785.0,824.0,552.0,421.0,봉원고가차도,독립문역,1.120006e+09
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0,봉원고가차도,독립문역,1.120006e+09
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0,봉원고가차도,독립문역,1.120006e+09
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0,봉원고가차도,독립문역,1.120006e+09
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0,봉원고가차도,독립문역,1.120006e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8799,20230127,금,서울교->신월IC,503.0,361.0,208.0,140.0,143.0,244.0,608.0,...,2022.0,2001.0,2049.0,2086.0,1737.0,1460.0,1129.0,서울교,신월IC,NaN
8800,20230128,토,서울교->신월IC,630.0,433.0,287.0,217.0,185.0,240.0,442.0,...,1801.0,2009.0,1736.0,1557.0,1455.0,1383.0,786.0,서울교,신월IC,NaN
8801,20230129,일,서울교->신월IC,556.0,392.0,254.0,171.0,165.0,154.0,198.0,...,1706.0,1561.0,1261.0,1366.0,1206.0,901.0,516.0,서울교,신월IC,NaN
8802,20230130,월,서울교->신월IC,317.0,235.0,116.0,97.0,125.0,266.0,675.0,...,2052.0,2059.0,2075.0,1928.0,1467.0,1313.0,823.0,서울교,신월IC,NaN
8803,20230131,화,서울교->신월IC,534.0,316.0,230.0,137.0,137.0,248.0,591.0,...,2028.0,2050.0,2103.0,2037.0,1564.0,1433.0,971.0,서울교,신월IC,NaN

In [31]:
mat_del.shape

(276, 3)

In [32]:
traffic_id = pd.merge(left=traffic_del,right=mat_del,how='inner',\
         on = ['시점명', '종점명'])
traffic_id

,일자,요일,구분,0시,1시,2시,3시,4시,5시,6시,...,17시,18시,19시,20시,21시,22시,23시,시점명,종점명,링크아이디
0,20230101,일,봉원고가차도->독립문역,564.0,414.0,268.0,208.0,190.0,314.0,495.0,...,1263.0,979.0,875.0,785.0,824.0,552.0,421.0,봉원고가차도,독립문역,1120006400
1,20230102,월,봉원고가차도->독립문역,294.0,190.0,146.0,134.0,252.0,684.0,1612.0,...,1792.0,1582.0,1248.0,997.0,973.0,872.0,616.0,봉원고가차도,독립문역,1120006400
2,20230103,화,봉원고가차도->독립문역,419.0,271.0,203.0,177.0,267.0,658.0,1435.0,...,1851.0,1697.0,1265.0,1081.0,1090.0,883.0,757.0,봉원고가차도,독립문역,1120006400
3,20230104,수,봉원고가차도->독립문역,502.0,335.0,247.0,192.0,292.0,639.0,1426.0,...,1807.0,1679.0,1240.0,1112.0,1069.0,909.0,769.0,봉원고가차도,독립문역,1120006400
4,20230105,목,봉원고가차도->독립문역,523.0,334.0,235.0,196.0,300.0,641.0,1385.0,...,1798.0,1770.0,1289.0,1152.0,1111.0,1030.0,756.0,봉원고가차도,독립문역,1120006400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,20230127,금,관악IC->금천요금소,638.0,362.0,259.0,208.0,229.0,558.0,1475.0,...,3738.0,3499.0,3695.0,3332.0,2040.0,1781.0,1321.0,관악IC,금천요금소,1179920100
8676,20230128,토,관악IC->금천요금소,827.0,534.0,409.0,291.0,280.0,432.0,778.0,...,3600.0,3227.0,2096.0,1693.0,1658.0,1493.0,993.0,관악IC,금천요금소,1179920100
8677,20230129,일,관악IC->금천요금소,737.0,420.0,318.0,212.0,188.0,237.0,404.0,...,2606.0,2188.0,1776.0,1647.0,1532.0,1187.0,633.0,관악IC,금천요금소,1179920100
8678,20230130,월,관악IC->금천요금소,404.0,254.0,195.0,194.0,260.0,725.0,1864.0,...,3085.0,4171.0,3557.0,2628.0,1827.0,1635.0,1063.0,관악IC,금천요금소,1179920100
8679,20230131,화,관악IC->금천요금소,610.0,398.0,242.0,210.0,249.0,580.0,1624.0,...,3697.0,3815.0,3691.0,2625.0,2022.0,1699.0,1169.0,관악IC,금천요금소,1179920100

In [33]:
traffic_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8680 entries, 0 to 8679
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8680 non-null   int64
 1   요일      8680 non-null   object
 2   구분      8680 non-null   object
 3   0시      6644 non-null   float64
 4   1시      6643 non-null   float64
 5   2시      6639 non-null   float64
 6   3시      6624 non-null   float64
 7   4시      6622 non-null   float64
 8   5시      6621 non-null   float64
 9   6시      6624 non-null   float64
 10  7시      6625 non-null   float64
 11  8시      6627 non-null   float64
 12  9시      6631 non-null   float64
 13  10시     6636 non-null   float64
 14  11시     6643 non-null   float64
 15  12시     6642 non-null   float64
 16  13시     6643 non-null   float64
 17  14시     6648 non-null   float64
 18  15시     6648 non-null   float64
 19  16시     6648 non-null   float64
 20  17시     6654 non-null   float64
 21  18시     6657 non-null   float64
 22  19시     6657 non-null   float64
 23  20시     6657 non-null   float64
 24  21시     6659 non-null   float64
 25  22시     6658 non-null   float64
 26  23시     6656 non-null   float64
 27  시점명     8680 non-null   object
 28  종점명     8680 non-null   object
 29  링크아이디   8680 non-null   int64
dtypes: float64(24), int64(2), object(4)
memory usage: 2.1+ MB

In [34]:
np.unique(traffic_id['링크아이디'], return_counts=True)

(array([         0, 1000000700, 1000000800, 1000001100, 1000001200,
        1000002300, 1000002400, 1000007900, 1000008000, 1000012700,
        1000012800, 1000015500, 1000015600, 1000015900, 1000016000,
        1000019500, 1000019600, 1000020100, 1000020200, 1000021300,
        1000021400, 1000021700, 1000021800, 1005003900, 1005004000,
        1010001100, 1010001200, 1010001300, 1010001400, 1010001500,
        1010001600, 1010002300, 1010002400, 1010002500, 1010002900,
        1010003000, 1010003900, 1010004000, 1010007300, 1010007400,
        1010013200, 1010013700, 1010013800, 1010014300, 1010014400,
        1020000200, 1020000400, 1020006900, 1020007000, 1020020300,
        1020020400, 1020021100, 1020021200, 1020021500, 1020021600,
        1030002100, 1030002200, 1030006500, 1030006600, 1030012300,
        1030012400, 1040003900, 1040004000, 1040004100, 1040004200,
        1040011800, 1040011900, 1050003700, 1050003800, 1050004100,
        1050004200, 1060003100, 1060003200, 1060006300, 1060006400,
        1070001300, 1070001500, 1070001600, 1070008500, 1070008600,
        1090000500, 1090000600, 1090001700, 1090001800, 1100000600,
        1100001300, 1100002800, 1100003500, 1100006700, 1100006800,
        1100006900, 1100007000, 1100008000, 1100008100, 1100012900,
        1100013000, 1110000100, 1110000200, 1110002300, 1110002400,
        1110004900, 1110005000, 1110013300, 1110013400, 1120002300,
        1120004500, 1120004600, 1120005300, 1120005400, 1120006300,
        1120006400, 1120013700, 1120013800, 1130006900, 1130007000,
        1130023700, 1130023800, 1130093001, 1130093101, 1140000100,
        1140000200, 1140000700, 1140000800, 1140023300, 1140023400,
        1140037900, 1140038000, 1140039700, 1140039800, 1140284492,
        1140284594, 1150001900, 1150002000, 1150005100, 1150005200,
        1150006000, 1150006100, 1150007200, 1150007300, 1150008600,
        1150008700, 1160000100, 1160000200, 1160001700, 1160001800,
        1160002700, 1160002800, 1160004900, 1160005000, 1170000700,
        1170000800, 1170003100, 1170003200, 1170007300, 1170007400,
        1179910020, 1179920100, 1180001500, 1180002500, 1180002600,
        1180003700, 1180003800, 1180005400, 1180005500, 1180005800,
        1180005900, 1180026800, 1180026900, 1180031400, 1180031500,
        1180031600, 1180031700, 1180034600, 1180034700, 1180041000,
        1180041100, 1190000100, 1190000200, 1190004300, 1190004400,
        1190006900, 1190007000, 1190007500, 1190007600, 1200001900,
        1200002000, 1200002100, 1200002200, 1210000500, 1210000600,
        1210002900, 1210003000, 1210004100, 1210004200, 1210007000,
        1210007100, 1210008000, 1210008100, 1210011000, 1210011100,
        1210014000, 1210014100, 1210021600, 1210021700, 1210021800,
        1210021900, 1210024800, 1210024900, 1210026600, 1210026700,
        1210027800, 1210027900, 1210028800, 1210028900, 1210030600,
        1210030700, 1220005000, 1220005100, 1220005200, 1220005300,
        1220005800, 1220005900, 1220016000, 1220016100, 1220016300,
        1220018800, 1220018900, 1220020200, 1220020300, 1220021000,
        1220026800, 1220026900, 1220030600, 1220030700, 1220037000,
        1220037100, 1220037200, 1220037300, 1230000500, 1230000600,
        1230001500, 1230001600, 1230002900, 1230003000, 1230004900,
        1230005000, 1230022500, 1230022600, 1230031100, 1230031200,
        1230037000, 1230037100, 1240001500, 1240001600, 1240001700,
        1240001800, 1240003800, 2080006500, 2080006600, 3201504600,
        3201504700, 3201506400, 3201506500, 3201510000, 3201510100]),
 array([124,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  62,  31,  31,  31,  31,  31,
         31,  62,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  62,  62,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  62,
         62,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  62,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  62,  62,  62,  62,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,  31,
         31,  31,  31,  31,  31,  31,  31,  31,  31,  62,  31,  31,  31,
         31,  31,  31,  31,  31]))

In [35]:
traffic_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8618 entries, 0 to 8617
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8618 non-null   int64
 1   요일      8618 non-null   object
 2   구분      8618 non-null   object
 3   0시      6613 non-null   float64
 4   1시      6612 non-null   float64
 5   2시      6608 non-null   float64
 6   3시      6593 non-null   float64
 7   4시      6591 non-null   float64
 8   5시      6590 non-null   float64
 9   6시      6593 non-null   float64
 10  7시      6594 non-null   float64
 11  8시      6596 non-null   float64
 12  9시      6600 non-null   float64
 13  10시     6605 non-null   float64
 14  11시     6612 non-null   float64
 15  12시     6611 non-null   float64
 16  13시     6612 non-null   float64
 17  14시     6617 non-null   float64
 18  15시     6617 non-null   float64
 19  16시     6617 non-null   float64
 20  17시     6623 non-null   float64
 21  18시     6626 non-null   float64
 22  19시     6626 non-null   float64
 23  20시     6626 non-null   float64
 24  21시     6628 non-null   float64
 25  22시     6627 non-null   float64
 26  23시     6625 non-null   float64
 27  시점명     8618 non-null   object
 28  종점명     8618 non-null   object
dtypes: float64(24), int64(1), object(4)
memory usage: 1.9+ MB

In [36]:
mat_del

        시점명     종점명       링크아이디
0    봉원고가차도    독립문역  1120006400
1      독립문역  봉원고가차도  1120006300
2      독립문역     사직단  1000008000
3       사직단    독립문역  1000007900
4       석파정  청운초등학교  1000019500
..      ...     ...         ...
271    탄천1교    수서IC  1220018800
272   금천요금소    관악IC  1179910020
273    관악IC   금천요금소  1179920100
274     신정교     목동교  1140284594
275     목동교     신정교  1140284492

[276 rows x 3 columns]

In [37]:
velo_del

,일자,요일,링크아이디,시점명,종점명,01시,02시,03시,04시,05시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20230101,일,1080012200,아카데미하우스,국립4.19묘지,46.10,28.92,51.22,57.67,44.61,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,20230101,일,1080012800,국립4.19묘지,국립4.19묘지입구,23.68,14.22,14.33,15.25,12.53,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,20230101,일,1080012700,국립4.19묘지입구,국립4.19묘지,17.77,23.49,21.85,23.44,27.93,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,20230101,일,1080012100,국립4.19묘지,아카데미하우스,49.49,41.76,45.79,67.52,88.91,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,20230101,일,1230024700,방이초교,방이동고분군,20.66,22.86,21.96,23.10,28.08,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156809,20230131,화,1190003703,중앙대학교,성심의집,23.61,25.69,26.63,27.83,26.62,...,15.92,16.73,15.96,14.20,15.39,16.75,17.13,17.50,17.13,19.28
156810,20230131,화,1190003702,성심의집,이화빌라,20.25,18.82,20.46,23.86,24.35,...,15.51,14.13,15.25,18.49,16.37,17.16,20.02,16.32,15.94,19.19
156811,20230131,화,1190003701,이화빌라,이화약국,18.59,21.19,23.30,26.64,24.57,...,18.69,15.13,13.77,17.80,16.03,16.01,19.75,16.22,15.33,18.39
156812,20230131,화,1130016400,망원정사거리,한강공원입구,25.85,27.35,29.22,27.59,28.60,...,20.85,20.07,21.72,14.40,24.01,21.76,20.68,20.04,20.16,21.61
156813,20230131,화,1130016300,한강공원입구,망원정사거리,24.84,17.22,17.54,19.97,22.83,...,16.74,18.17,23.40,13.23,19.57,18.78,17.87,28.28,16.25,18.46

In [38]:
velo_del['일자']

0         20230101
1         20230101
2         20230101
3         20230101
4         20230101
            ...
156809    20230131
156810    20230131
156811    20230131
156812    20230131
156813    20230131
Name: 일자, Length: 156814, dtype: int64

In [39]:
velo_del['일자']=velo_del['일자'].astype('str')

In [40]:
velo_del['일자'].info

<bound method Series.info of 0         20230101
1         20230101
2         20230101
3         20230101
4         20230101
            ...
156809    20230131
156810    20230131
156811    20230131
156812    20230131
156813    20230131
Name: 일자, Length: 156814, dtype: object>

In [41]:
pd.to_datetime(velo_del['일자'])

0        2023-01-01
1        2023-01-01
2        2023-01-01
3        2023-01-01
4        2023-01-01
            ...
156809   2023-01-31
156810   2023-01-31
156811   2023-01-31
156812   2023-01-31
156813   2023-01-31
Name: 일자, Length: 156814, dtype: datetime64[ns]

In [42]:
velo_date=velo_del[['일자', '요일', '링크아이디', '시점명', '종점명','24시']]
velo_date

              일자 요일       링크아이디         시점명         종점명    24시
0       20230101  일  1080012200     아카데미하우스    국립4.19묘지  51.71
1       20230101  일  1080012800    국립4.19묘지  국립4.19묘지입구  13.87
2       20230101  일  1080012700  국립4.19묘지입구    국립4.19묘지  17.85
3       20230101  일  1080012100    국립4.19묘지     아카데미하우스  40.54
4       20230101  일  1230024700        방이초교      방이동고분군  16.90
...          ... ..         ...         ...         ...    ...
156809  20230131  화  1190003703       중앙대학교        성심의집  19.28
156810  20230131  화  1190003702        성심의집        이화빌라  19.19
156811  20230131  화  1190003701        이화빌라        이화약국  18.39
156812  20230131  화  1130016400      망원정사거리      한강공원입구  21.61
156813  20230131  화  1130016300      한강공원입구      망원정사거리  18.46

[156814 rows x 6 columns]

In [43]:
velo_date['일자_datetime']=pd.to_datetime(velo_date['일자'])
velo_date

              일자 요일       링크아이디         시점명         종점명    24시 일자_datetime
0       20230101  일  1080012200     아카데미하우스    국립4.19묘지  51.71  2023-01-01
1       20230101  일  1080012800    국립4.19묘지  국립4.19묘지입구  13.87  2023-01-01
2       20230101  일  1080012700  국립4.19묘지입구    국립4.19묘지  17.85  2023-01-01
3       20230101  일  1080012100    국립4.19묘지     아카데미하우스  40.54  2023-01-01
4       20230101  일  1230024700        방이초교      방이동고분군  16.90  2023-01-01
...          ... ..         ...         ...         ...    ...         ...
156809  20230131  화  1190003703       중앙대학교        성심의집  19.28  2023-01-31
156810  20230131  화  1190003702        성심의집        이화빌라  19.19  2023-01-31
156811  20230131  화  1190003701        이화빌라        이화약국  18.39  2023-01-31
156812  20230131  화  1130016400      망원정사거리      한강공원입구  21.61  2023-01-31
156813  20230131  화  1130016300      한강공원입구      망원정사거리  18.46  2023-01-31

[156814 rows x 7 columns]

In [44]:
from datetime import datetime, timedelta

In [45]:
velo_date['일자_datetime']=pd.DatetimeIndex(velo_date['일자_datetime'])+timedelta(days=1)
velo_date

              일자 요일       링크아이디         시점명         종점명    24시 일자_datetime
0       20230101  일  1080012200     아카데미하우스    국립4.19묘지  51.71  2023-01-02
1       20230101  일  1080012800    국립4.19묘지  국립4.19묘지입구  13.87  2023-01-02
2       20230101  일  1080012700  국립4.19묘지입구    국립4.19묘지  17.85  2023-01-02
3       20230101  일  1080012100    국립4.19묘지     아카데미하우스  40.54  2023-01-02
4       20230101  일  1230024700        방이초교      방이동고분군  16.90  2023-01-02
...          ... ..         ...         ...         ...    ...         ...
156809  20230131  화  1190003703       중앙대학교        성심의집  19.28  2023-02-01
156810  20230131  화  1190003702        성심의집        이화빌라  19.19  2023-02-01
156811  20230131  화  1190003701        이화빌라        이화약국  18.39  2023-02-01
156812  20230131  화  1130016400      망원정사거리      한강공원입구  21.61  2023-02-01
156813  20230131  화  1130016300      한강공원입구      망원정사거리  18.46  2023-02-01

[156814 rows x 7 columns]

In [46]:
velo_del2=velo_date.drop(['일자'], axis=1)

In [47]:
velo_c=velo_del2.rename(columns={"일자_datetime":"일자"})
velo_c

       요일       링크아이디         시점명         종점명    24시         일자
0       일  1080012200     아카데미하우스    국립4.19묘지  51.71 2023-01-02
1       일  1080012800    국립4.19묘지  국립4.19묘지입구  13.87 2023-01-02
2       일  1080012700  국립4.19묘지입구    국립4.19묘지  17.85 2023-01-02
3       일  1080012100    국립4.19묘지     아카데미하우스  40.54 2023-01-02
4       일  1230024700        방이초교      방이동고분군  16.90 2023-01-02
...    ..         ...         ...         ...    ...        ...
156809  화  1190003703       중앙대학교        성심의집  19.28 2023-02-01
156810  화  1190003702        성심의집        이화빌라  19.19 2023-02-01
156811  화  1190003701        이화빌라        이화약국  18.39 2023-02-01
156812  화  1130016400      망원정사거리      한강공원입구  21.61 2023-02-01
156813  화  1130016300      한강공원입구      망원정사거리  18.46 2023-02-01

[156814 rows x 6 columns]

In [48]:
velo_del['일자']=pd.to_datetime(velo_del['일자'])
velo_del

,일자,요일,링크아이디,시점명,종점명,01시,02시,03시,04시,05시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2023-01-01,일,1080012200,아카데미하우스,국립4.19묘지,46.10,28.92,51.22,57.67,44.61,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,2023-01-01,일,1080012800,국립4.19묘지,국립4.19묘지입구,23.68,14.22,14.33,15.25,12.53,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,2023-01-01,일,1080012700,국립4.19묘지입구,국립4.19묘지,17.77,23.49,21.85,23.44,27.93,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,2023-01-01,일,1080012100,국립4.19묘지,아카데미하우스,49.49,41.76,45.79,67.52,88.91,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,2023-01-01,일,1230024700,방이초교,방이동고분군,20.66,22.86,21.96,23.10,28.08,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156809,2023-01-31,화,1190003703,중앙대학교,성심의집,23.61,25.69,26.63,27.83,26.62,...,15.92,16.73,15.96,14.20,15.39,16.75,17.13,17.50,17.13,19.28
156810,2023-01-31,화,1190003702,성심의집,이화빌라,20.25,18.82,20.46,23.86,24.35,...,15.51,14.13,15.25,18.49,16.37,17.16,20.02,16.32,15.94,19.19
156811,2023-01-31,화,1190003701,이화빌라,이화약국,18.59,21.19,23.30,26.64,24.57,...,18.69,15.13,13.77,17.80,16.03,16.01,19.75,16.22,15.33,18.39
156812,2023-01-31,화,1130016400,망원정사거리,한강공원입구,25.85,27.35,29.22,27.59,28.60,...,20.85,20.07,21.72,14.40,24.01,21.76,20.68,20.04,20.16,21.61
156813,2023-01-31,화,1130016300,한강공원입구,망원정사거리,24.84,17.22,17.54,19.97,22.83,...,16.74,18.17,23.40,13.23,19.57,18.78,17.87,28.28,16.25,18.46

In [49]:
velo_del3=velo_del.drop(['24시'], axis=1)
velo_del3

,일자,요일,링크아이디,시점명,종점명,01시,02시,03시,04시,05시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2023-01-01,일,1080012200,아카데미하우스,국립4.19묘지,46.10,28.92,51.22,57.67,44.61,...,28.68,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96
1,2023-01-01,일,1080012800,국립4.19묘지,국립4.19묘지입구,23.68,14.22,14.33,15.25,12.53,...,11.46,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33
2,2023-01-01,일,1080012700,국립4.19묘지입구,국립4.19묘지,17.77,23.49,21.85,23.44,27.93,...,14.59,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29
3,2023-01-01,일,1080012100,국립4.19묘지,아카데미하우스,49.49,41.76,45.79,67.52,88.91,...,43.71,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08
4,2023-01-01,일,1230024700,방이초교,방이동고분군,20.66,22.86,21.96,23.10,28.08,...,16.37,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156809,2023-01-31,화,1190003703,중앙대학교,성심의집,23.61,25.69,26.63,27.83,26.62,...,16.77,15.92,16.73,15.96,14.20,15.39,16.75,17.13,17.50,17.13
156810,2023-01-31,화,1190003702,성심의집,이화빌라,20.25,18.82,20.46,23.86,24.35,...,15.97,15.51,14.13,15.25,18.49,16.37,17.16,20.02,16.32,15.94
156811,2023-01-31,화,1190003701,이화빌라,이화약국,18.59,21.19,23.30,26.64,24.57,...,16.98,18.69,15.13,13.77,17.80,16.03,16.01,19.75,16.22,15.33
156812,2023-01-31,화,1130016400,망원정사거리,한강공원입구,25.85,27.35,29.22,27.59,28.60,...,13.31,20.85,20.07,21.72,14.40,24.01,21.76,20.68,20.04,20.16
156813,2023-01-31,화,1130016300,한강공원입구,망원정사거리,24.84,17.22,17.54,19.97,22.83,...,15.44,16.74,18.17,23.40,13.23,19.57,18.78,17.87,28.28,16.25

In [ ]:
velo_sub = pd.merge(velo_del3,velo_c,how='left',on = '일자')
velo_sub

In [ ]:
velo_del.columns

In [ ]:
velo_del.reindex(['일자', '요일', '링크아이디', '시점명', '종점명','0시','1시', '2시', '3시', '4시', '5시', '6시',
                 '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
                 '17시', '18시', '19시', '20시', '21시', '22시', '23시'],axis=1)

In [ ]:
velo_fin = velo_del.reindex(['일자', '요일', '링크아이디', '시점명', '종점명','0시','1시', '2시', '3시', '4시', '5시', '6시',\
                 '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시','17시', '18시', '19시', '20시', '21시', '22시', '23시'],axis=1)
velo_fin

In [ ]:
traffic_id.columns

In [ ]:
traffic_id.reindex(['일자', '요일','링크아이디','시점명', '종점명','0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시',\
                    '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'], axis=1)

In [ ]:
traffic_fin = traffic_id.reindex(['일자', '요일','링크아이디','시점명', '종점명','0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시',\
                    '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'], axis=1)
traffic_fin